.background-image {
	background-image: url("map/pirateMap.jpg");
    background-size: 100%;
    width: 1080px;
    height: 920px;
    background-repeat: no-repeat;
}

h1 {
	font-family: impact, charcoal, sans-serif;
}

ul {
	height: 350px;
}